/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Open Sans', sans-serif;    
    background: #f1f1f1;
}

p {
    font-family: 'Open Sans', sans-serif;
    /*font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;*/
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
    background: #4463dc;
}

.btn-info:focus,
.btn-info.focus {
    box-shadow: 0 0 0 0.2rem rgb(151, 170, 247);
}

.btn-info:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled).active,
.show>.btn-info.dropdown-toggle,
.btn-info:hover {
    color: #fff;
    background-color: #e04646;
    border-color: #f75757;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #4c6ef5;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header h1 {
    font-size: 2.3em;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 2px 2px 3px #39393a;
}

#sidebar.active {
    min-width: 110px;
    max-width: 100px;
    text-align: center;
}

#sidebar.active .sidebar-header h1,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header span {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

/*
#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}
*/

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
    float: none;
    margin-left: 0;
}

#sidebar.active ul li a span.badge {
    margin-left: 0 !important;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before,
#sidebar.active a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4463dc;
}

#sidebar .sidebar-header span {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
     padding: 20px 0; 
    /* border-bottom: 1px solid #ffffff; */
    margin-bottom: 30px;
}

#sidebar ul li a {
    padding: 16px 10px;
    font-size: .95em;
    letter-spacing: 0.6px;
    display: block;
    color: #fff;
    font-weight: 400;
}

#sidebar ul li a:hover {
    color: #4c6ef5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
    font-size: 19px;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #4463dc;
}

ul.list-unstyled li a:focus a i.fa-caret-down {
    transform: rotate(90deg);
}

/*
a[data-toggle="collapse"] {
    position: relative;
}
a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: "\f015";
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Font Awesome 5 Free';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    content: "\f015";
}*/

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4463dc;
}

/*
ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}
*/

a.download {
    background: #fff;
    color: #4c6ef5;
}

a.article,
a.article:hover {
    background: #4463dc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    /*padding: 20px;*/
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 900px) {
    .sidebar-header h1 {
        font-size: 2.2em;
        letter-spacing: 2px;
    }
    #sidebar {
        min-width: 230px;
        max-width: 230px;
    }
}

@media (max-width: 800px) {
    
}

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    a[aria-expanded="false"]::before,
    a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h1,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header span {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

@media (max-width: 480px) {
#sidebar.active {
    min-width: 95px;
    max-width: 95px;
}
}